body {
    background-image: url(background.jpg);
    background-size: cover;
}

.header {
    background-color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: blue;
    font-family: Cambria, Cochin;
}

.meni {
    list-style: none;
    text-align: center;
    padding: 0px 0px 0px 0px;
    background-color: lightskyblue;
}

.meni>li {
    display: inline-block;
    padding: 10px;
}

.meni>li>a {
    text-decoration: none;
    color: grey;
}

.meni>li>a:hover {
    padding: 10px;
    background-color: lightgrey;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: navy;
    text-align: center;
}

.footer>li {
    display: inline-block;
    padding: 10px;
    font-style: italic;
}

form {
    padding-top: 30px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 5px 5px;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightblue;
}